[submodule "dqr"]
	path = dqr
	url = git@github.com:feng-li/dqr.git
[submodule "dvi"]
	path = dvi
	url = git@github.com:feng-li/dvi.git
[submodule "dts"]
	path = dts
	url = git@github.com:feng-li/dts.git
